@{
  Layout = "Shared/_Layout.cshtml";
}

<h1>| Clients |</h1>

<form action="/clients" method="post" name="add">
  <label for="client">Add New Client!!</label>
  <input id="client" type="text" name="client">
  <label for="s-id">Add its Stylist!!</label>
  <select class="btn" name="s-id" id="s-id">
    @foreach (var stylist in Model["Stylists"])
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>

  <button class="btn" type="submit" name="add">Add!</button>
</form>
<h3>Client <-> Stylist</h3>
<ul>
  @foreach (var client in Model["Clients"])
  {
  <form action="/clients/delete" method="post">
    <input type="hidden" value="@client.GetId()" name="delete">
    <li><a href="/client/@client.GetId()"> @client.GetName() <-> @client.GetStylistName(@client.GetIdStylist())</a> <button class="btn btn-sm" type="submit">Delete</button></li>
  </form>
  }
</ul>

<span>| <a href="/">Home</a> |</span>
<span>| <a href="/stylists">View Stylists</a> |</span>
